:root {
  /* Primary Text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  /* Gradient */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  /* Neutral Text */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(
    to bottom,
    var(--soft-violet),
    var(--soft-blue)
  );
}

.card {
  background-color: #fff;
  border-radius: 32px;
  width: 60%;
  min-height: 65%;
  min-width: 900px;
  display: flex;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: -60% 30%;
  position: relative;
  transition: 350ms ease;
}

.card-content.opened-collapse{
  /* min-height: 90%; */
  /* padding-bottom: 90px; */
}

.box {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-47%, -25%);
  z-index: 1;
}

.card-image {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card-image,
.card-content {
  flex: 1;
}

.card-image img {
  width: 100%;
  height: auto;
  min-width: 380px;
  transform: translateX(-13%);
}

.card-content {
  width: 50%;
  height: 100%;
  padding-top: 55px;
  padding: 70px 30px 30px 0px;
}
.card-header {
  font-size: 35px;
  width: 80%;
  height: 15%;
  font-weight: 700;
  display: flex;
  align-items: center;

}

.accordion {
  width: 80%;
  min-height: 60%;
  max-height: 80%;
  margin-top: 20px;
}

.accordion-item {
  min-height: 20%;
  border-bottom: 1px solid var(--light-grayish-blue);
  padding-bottom: 12px;

}

.accordion-header {
  position: relative;
}

.accordion-header button {
  margin-top: 14px;
}

.accordion-header img {
  width: 14px;
  position: absolute;
  right: 0%;
  top: 50%;
  cursor: pointer;
}

.accordion-collapse {
  display: none;
}


.accordion-question {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  color: var(--very-dark-grayish-blue);
  /* margin-bottom: 12px; */
  transition: color 120ms ease;
}

.accordion-question:hover{
  color: var(--soft-red);
}

.accordion-question.collapse-open{
  font-weight: 700;
  font-size: 14px;
  color: var(--very-dark-desaturated-blue);
}

.accordion-answer {
  width: 94%;
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--dark-grayish-blue);
}

@media screen and (max-width: 1024px) {
  body {
    padding-top: 10rem;
  }
  .card {
    min-width: 75%;
    min-height: 90%;
    flex-direction: column;
    background-image: none;
    background-image: url("./images/bg-pattern-mobile.svg");
    background-size: 266px;
    background-position: 54% -3%;
  }

  .box {
    display: none;
  }

  .card-image {
    width: 100%;
    max-height: 25%;
    justify-content: center;

    overflow: visible;
  }

  .card-image img {
    min-width: 300px;
    transform: translateY(-32%);
  }

  .card-header {
    width: 100%;
    justify-content: center;
  }
  .card-content {
    width: 100%;
    min-height: 75%;
    padding: 0;
  }
  .accordion {
    /* width: 90%; */
    margin:  0.5rem auto;
  }

  .accordion-header img{
    width: 12px;
    top: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    /* max-width: 80%; */
    min-width: 520px;
    background-size: 266px;
    /* background-position: 53% -2%; */
  }
  .card-image img {
    width: auto;
    min-width: 270px;
    height: auto;
  }
}

@media only screen and (max-width: 595px) {
  .card {
    min-width: 90%;
    background-position: 53% -4%;
  }
  .card-image img {
    max-width: 260px;
    transform: translateX(-5%) translateY(-35%);
  }

  .accordion{
    width: 88%;
  }

  /* .accordion-question{
    font-size: 13px;
  } */

}


.active-accordion-collapse{
  display: block;
}


.attribution {
  width: 60%;
  font-size: 12px;
  text-align: center;
  margin-top: 1.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
